html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul,ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}